
.nav-title{
    font-size: 8vh;
    color: black;
    padding: 15px;
    display: flex;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;

}

.nav ul {
    padding: 0;
    margin: 0;
   display: flex;
   justify-content: end;
    text-align: right;
    vertical-align: top;
    
    
}
header{
   
   background-image:  url(https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png);
   width: auto;
   height: auto;
   font-family: 'Work Sans', sans-serif;
  
   
}

.nav-links{
    margin-right: 20px;
    display: flex;
    vertical-align: top;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    color:    #333;
    font-weight: 800;
    

    
    
}
.headerli{
    list-style: none;
    display: inline-block;
    
}
.nav-links:hover{
    color: pink;

}



img{
    border-radius: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 300px;
    align-items: center;
    
  
}
.btn{
    
    margin: 20px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 12px;
    padding: 1.3em 3em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);    
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.text{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    
}

table , th, td{
    border: 2px solid;
    border-collapse: collapse;
    padding: 20px;
    width: 150px;
    margin-top: 20px;
    
   
}


.icon{
    text-align: center;
    font-size: large;
}
.material-icons {
    size: 15px;
    float: right;
}