@media  screen and (min-width: 480px) {
  body{
      background-color: white;
      
  }
   
}
html{
    scroll-behavior: smooth;
    
      
    
}

body {
    margin: 0;
    padding: 0;
   
}

.logo {
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
    color: black;
    letter-spacing: 1px;
    display: inline;
   
}

nav{
    padding-top: 35px;
    padding-right: 8%;
    padding-left: 8%;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.nav ul {
    font-family: 'Fredoka', sans-serif;
    padding: 10px 25px;
    padding: 0px;
    margin: 0px;
}



header {
    background-size: cover;
    background-color: #A9C9FF;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

.nav-links {
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    color: #000;   
}





img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border: 10px solid white;
    align-items: center;
 
}

main{
    margin-top: 0;
}

.aboutme{
    display: grid;
    justify-content: center;
    font-size: 25px;
    margin: auto;
    width: 650px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px white solid;
    padding: 60px;
    font-family: 'Fredoka', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.experience {
    font-size: 30px;
    margin: auto;
    text-align: center;
   list-style-type: none;
    width: auto;
    margin-top: 100px;
    font-family: 'Fredoka', sans-serif;
    
}


.btn {
    margin: 20px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}



.text {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Fredoka', sans-serif;

}
.container{
    padding: 30px;
    background-color: #FFDEE9;
    
}

.experiences{
    text-align: center;
    margin-bottom: 40px;
}

hr{
    width: 400px;
    
}
.edu{
    width: auto;
    margin-top: 50px;
    font-family: 'Fredoka', sans-serif;
    
}

.skill{
    width: auto;
    background-color: rgb(231, 231, 231);
}

.skills{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    width: 500px;
    align-items: center;
    
}

.html, .js , .css, .git,.php{
    text-align: center;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border-radius: 20px;
}

.html{
    width: 75%;
    background-color: #FFBBEC;
}
.css{
    width: 70%;
    background-color: #FFBBEC;
}
.js{
    width: 50%;
    background-color: #FFBBEC;
}
.git{
    width: 45%;
    background-color: #FFBBEC;
}

.php{
    width: 15%;
    background-color: #FFBBEC;
}




.icon {
    text-align: center;
    font-size: 1.5em;
    color: #000;
    word-spacing: 10px;
    text-decoration: none;
    padding-bottom: 10px;

}


.job{
    list-style-type: none;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    padding: 0;
}

.jobs{
    margin-top: 50px;
}

.border{
    
    height: 350px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    margin-top: 100px; 
    padding-bottom: 40px;
    margin-bottom: 50px;
    

}

.h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
}

.table{
   
    margin-left: 50px;
    margin: auto;
    width: auto;
    
}

footer{
    background-color: #FFBBEC;
    height: 300px;
    width: auto;
    
   
}
.info{
    font-size: 25px;
    margin: auto;
    width: auto;
    text-align: center;
    margin-top: 100px;
    padding: 55px;
    font-family: 'Fredoka', sans-serif;
    
    
}

.card{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 420px;
    margin: auto;
    margin-left: 200px;
}

.buttonweather{
    width: 180px;
}
/* and (min-width:300px), screen and (orientation: portrait) */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: black; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555; 
}