body{
    font-family: 'Work Sans', sans-serif;
    
}
.nav-title{
    margin-right: auto;
    font-size: 50px;
    color: black;
    position: relative;
    text-align: right;
  
}

.nav {
    list-style: none;
    display: inline-block;
    padding: 0 20px ;   
    
}
header{
    display: flex;
    justify-content: flex-end;
   
    
    background-color: rgb(161, 225, 230);
    
    


}
.nav-links{
    margin-right: auto;
    font-size: 25px;
    color:    #333;
    text-align: right;
    
}

.nav-links:hover{
    color: pink;

}

header li{
    list-style: none;
   display: inline-block;
    padding: 0 20px;
}

img{
    border-radius: 50% ;
    margin: 45px;
    padding: 60px;
    width: 200px;
    background-color: rgb(161, 225, 230);
  
}
.btn{
    color: #333;
    margin: 20px;
    width: 100px;


}

.text{
    text-align: center;
    font-size: 25px;
}

table , th, td{
    border: 2px solid;
    border-collapse: collapse;
    padding: 20px;
    width: 150px;
    margin-top: 20px;
    
   
}
